@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
  /* liquid glass  */
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


nav img {
  /* height: 60px;
  width: 40px; */
  object-fit: contain;
  padding-left: 32px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  list-style: none;
  width: 60%;
  padding-right: 50px;
}

nav ul a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

nav ul a:hover {
  color: #ed84e6 !important;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at 30% 20%, #ff7eb3, transparent 60%),
    radial-gradient(at 80% 10%, #65d0ff, transparent 60%),
    radial-gradient(at 50% 80%, #8b5cf6, transparent 60%),
    radial-gradient(at 20% 70%, #22d3ee, transparent 60%);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  animation: moveGradient 15s ease-in-out infinite alternate;
  filter: blur(80px);
  z-index: -1;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  flex-direction: row;
  padding: 16px 50px;
  align-items: baseline;
  box-sizing: border-box;
  margin-top: 20px;
}

header .intro {
  padding: 10px 0;
}

header img {
  width: 600px;
  height: auto;
  margin: 50px 0 0 150px;
}

header h1 {
  font-size: 3em;

}

header h1,
header h3 {
  margin: 20px 0px
}

header .button {
  display: flex;
  text-decoration: none;
  width: fit-content;
  background-color: black;
  color: white;
  padding: 20px 50px;
  margin: 50px 0px;
  transition: all .3s ease-in-out;

}

#competence-container {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  padding: 32px;
  justify-content: space-around;
  margin: 20px 0 50px 0;

}

.competence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 0;

}

.competence img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.competence p {
  font-size: 16px;
  text-align: center;
  max-width: 260px;
}

#projects {
  display: flex;
  flex-direction: column;
  height: auto;
}

#projects h1 {
  text-align: center;
  margin-top: 80px;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin: 0;
  width: 100%;
}


.project {
  width: 31%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project img {
  object-fit: none;
}

.project h3,
.project p {
  margin: 8px;
}


#temoignage h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 70px;
}

.temos-contanier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 30px;
  gap: 8px;
  justify-content: space-around;
  align-items: stretch;

}

.temo {
  display: flex;
  width: 32%;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 30px;
  border-radius: 8px;
  /* liquid-glass */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.temo h5 {
  margin-bottom: 40px;
  line-height: 1.5;
  font-weight: 400;
}


.temo-info {
  display: flex;
  flex-direction: row;
  gap: 12px;

}

.temo-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 50px;

}

footer .contact-container {
  width: 60%;
  margin-right: 50px;
}

footer .button {
  display: flex;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: white;
  padding: 20px 50px;
  margin: 50px 0px;
  transition: all .3s ease-in-out;
}

footer .contacts-info {
  display: flex;
  gap: 40px;
}


footer p {
  margin: 20px 0;
}

.unchecked {
  color: white
}

html,
body {
  font-family: 'Poppins', sans-serif !important;
}